// TEXT FONTS
$script-text: 'Caveat', cursive;
$sans-serrif: 'Quicksand', sans-serif;
$block-text: 'Bebas Neue', cursive;

// COLORS
$background: rgb(250, 250, 250);
$dark-text: rgb(43, 43, 43);
$light-brown: rgb(247, 238, 162);
$light-blue: rgb(185, 230, 236);