@import './vars';

.about {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $dark-text;
    background: $background;

    .about-header {
        font-family: $block-text;
        font-size: 4em;
        margin-bottom: 0;
    }

    .about-top-div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 4em;

        .about-img-1 {
            width: 30%;
            position: relative;
            box-shadow: 2em 2em 0px $light-blue;
        }

        .text-div {
            text-align: right;
            margin-right: 2em;
            width: 40%;

            .about-title {
                font-size: 3em;
                font-family: $sans-serrif;
                font-weight: 200;
                margin-bottom: 0;
                position: relative;
            }

            .about-title::before {
                content: '';
                position: absolute;
                background: $light-brown;
                width: 50%;
                height: 4px;
                right: 0;
                bottom: 0;
            }

            .about-desc {
                font-family: $sans-serrif;
                font-size: 1.5em;
                margin-top: .1em;
            }
        }
    }

    .about-second-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .about-img-2 {
            width: 30%;
            box-shadow: -2em -2em 0px $light-brown;
        }

        .text-div {
            margin-left: 2em;
            width: 40%;

            .about-title {
                font-size: 3em;
                font-family: $sans-serrif;
                font-weight: 200;
                margin-bottom: 0;
                position: relative;
            }

            .about-title::before {
                content: '';
                position: absolute;
                background: $light-blue;
                width: 50%;
                height: 4px;
                margin: 0 auto;
                left: 0;
                bottom: 0;
            }

            .about-desc {
                font-family: $sans-serrif;
                font-size: 1.5em;
                margin-top: .1em;
            }
        }
    }  
}

@media only screen and (max-width: 1200px) {
    .about {
        .about-top-div,
        .about-second-div {
            flex-direction: column;

            .text-div {
                .about-title {
                    text-align: center;
                }

                .about-title::before {
                    width: 75%;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                }

                .about-desc {
                    font-size: 1.2em;
                    text-align: center;
                }
            }
        }

        .about-top-div {
            margin-bottom: 3em;

            .about-img-1 {
                box-shadow: 1em 1em 0px $light-blue;
                margin-right: 2em;
            }
        }

        .about-second-div {
            flex-direction: column-reverse;

            .about-img-2 {
                box-shadow: -1em -1em 0px $light-brown;
                margin-left: 2em;
            }

            .about-desc {
                margin-bottom: 2em;
            }
        }
    }
}