@import './vars';

.contact-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $dark-text;

    .contact-header {
        font-family: $sans-serrif;
        font-weight: 200;
        font-size: 3em;
        margin-bottom: 0;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        font-family: $sans-serrif;
        width: 60%;

        input {
            padding: .6em 0;
            padding-left: .6em;
            // border: 1px solid $dark-text;
            border: none;
            border-bottom: 1px solid $dark-text;
        }

        textarea {
            resize: none;
            padding: .6em 0;
            padding-left: .6em;
        }

        button {
            font-family: $sans-serrif;
            padding: .6em 0;
            font-size: 1em;
            border: 1px solid $dark-text;
            background: transparent;
            cursor: pointer;
            transition: .3s ease-in-out;
        }

        button:hover {
            background: $dark-text;
            color: $background;
        }

        * {
            margin: .2em 0;
            background: transparent;
        }
    }
}

@media only screen and (max-width: 1550px) {
    .contact-page {
        height: 90vh;
        .contact-form {
            width: 80%;
        }
    }
}

@media only screen and (max-width: 550px) {
    .contact-page {
        .contact-form {
            input {
                border: 1px solid $dark-text;
            }
        }
    }
}